<div class="img-des">
    <h1>
        Módulo em desenvolvimento
    </h1>
    <span>Olá! Infelizmente essa função ainda não está disponível 😕 mas estamos trabalhando duro para que em breve ela seja acessível!</span>

    <img src="/img/desenvolvimento.gif" id="des">
</div>