<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= titulo %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>
    <header>
        <div class="menu">
            <nav class="menu-box">
                <a href="/"> <span class="menu-item">PÁGINA PRINCIPAL</span> </a>
                <a href="/lista"> <span class="menu-item">LISTAGEM DE ESTUDANTES</span> </a>
                <a href="/edita"> <span class="menu-item">EDITAR ESTUDANTES</span> </a>
                <a href="/notas"> <span class="menu-item">EDITAR NOTAS</span> </a>
                <a href="/faltas"> <span class="menu-item">EDITAR FALTAS</span> </a>
            </nav>
            <!--menu box-->
        </div>
        <!--div menu-->
    </header>

    <main>
        <div class="container" id="conteudo">
            <div class="cont">
                <section class="conteudo">

                    <%- body %>

                </section>
            </div>

        </div>
        <!--container-->
    </main>
    <footer>
        <section class="rodape">

        </section>
        <div class="ml-4 text-center text-sm text-gray-500 sm:text-right sm:ml-0">
            NodeJs -
            <%= VNode %>
        </div>
        <footer>
            <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

</html>