<div class="apresentaçao">
    <img src="/img/academico.jpg" class="apresentaçao-img">
    <h1 class="titulo"> Acadêmico 2 </h1>
    <span>Aluno:
        <%= Aluno %>
            <br> Turma:
            <%= Turma %></span>
    <p>
        SISTEMA ACADÊMICO || DESENVOLVIDO COM NODEJS
    </p>
</div>