/**********CONFIGURAÇÕES GERAIS*******/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff7ee;
    font-family: 'Source Code Pro', monospace;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
    color: #aeaeae;
}

img {
    display: block;
    max-width: 100%;
}

.container {
    padding: 4rem;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
    border-radius: 50px;
    background: #eee;
    text-align: center;
    margin-top: 4rem;
}


/************************************/


/***********CABEÇALHO****************/

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.menu-box {
    padding: 2rem;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
    border-radius: 50px;
    background: #eee;
    text-align: center;
    display: flex;
    gap: 32px;
}

.menu-item {
    font-weight: 400;
    font-size: 18px;
}

.menu-item:hover {
    border: 2px solid #aeaeae;
}

a,
a:active,
a:link,
a:visited {
    text-decoration: none;
    color: #aeaeae;
}


/***********************************/


/**********PÁGINA PRINCIPAL**********/

.titulo {
    font-size: 36px;
    font-weight: normal;
}

.apresentaçao {
    max-width: 452px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 4rem;
}

.apresentaçao-img {
    border-radius: 50%;
    margin: 0 auto 2rem auto;
}

.apresentaçao span {
    font-size: 24px;
}

.apresentaçao p {
    font-size: 18px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}


/***********************************/


/**********EM DESENVOLVIMENTO************/

.img-des {
    text-align: center;
}

#des {
    width: 300px;
    margin: 2rem auto 2rem auto;
}


/*************************************/